body {font-family: georgia;
	background-color: darkblue;
	color: white;
	font-size: 100%;
	border-width: 2px 2px 2px 2px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	padding: 10px 10px 10px 10px;
	margin: 0px 10px 0px 10px
	}
	
h1 {font-size: 160%;}

h2 {font-size: 125%;}

li {line-height: 20px; text-align: justify;}

p {line-height: 20px;
	text-indent: 15px;}

figure {text-align: center;
	font-size: 90%;
	font-style: italic;
	border: 2px solid green;
	border-radius: 25px;
	}

header, section, footer, figure {display: block;}
	
.mkunderlined {text-decoration: underline;}

.mkbold {font-weight: bold;}

li.h_menu{display: inline; padding: 5px;}
#header {position: fixed; width: 925px; z-index:100; background-color: lightgray; text-align: center; border: 1px solid black;}
