body {background-color: gray;}
fieldset{color: black;
	border-color: black;
	border-radius: 25px;}

legend{
	background-color: black;
	color: white;
	border-radius: 8px;
	padding: 8px 20px;}
	
textarea{background-image: url("./Images/teamlogo.png");
	background-size: 80px;
	width: 400px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: left bottom;
	color: black;
	}

a.button{
	background-color: black;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
}



a.button:hover{
	background-color: blue;
}

a.button:active{
	background-color: purple;
}

.text_label{
	float: left;
	width: 100px;
	text-align: right;
	padding: 0px 10px 0px 10px;
	}

.text_input{
	width: 150px;
	text-align: left;
	padding: 0px 0px 0px 10px;
	}
	
div{ padding:10px 0px 10px 0px;
	}

#submit {float: right;}